{#
/**
 * @file
 * Theme override for the messages block.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}
{% if content %}
<div {{ attributes }}">
    {{ content }}
</div>
{% endif %}
