{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <ul class="u-list-inline">
        {% for item in breadcrumb %}
            <li class="list-inline-item g-mr-5">
                {% if item.url %}
                    <a href="{{ item.url }}">{{ item.text }}</a>
                    <i class="g-color-gray-light-v2 g-ml-5">/</i>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
