/* Add here all your css styles (customizations) */
.navbar-brand {
  height: 62px;
}

.offscreen {
  position: fixed;
  left: -1000px;
}

.u-header [aria-labelledby] {
  opacity: 1;
}

#toolbar-administration {
  padding: 39px 0 0 0;
}
